/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/proofs export-ignore
/tests export-ignore
/blackbox.php export-ignore
/.php-cs-fixer.dist.php export-ignore
/psalm.xml export-ignore
